<a id="heater_indicator" class="auto" onclick="OctoPrint.simpleApiCommand('octoheat', 'cycleHeaterMode')" style="font-size: 1.3em; text-shadow: 0px 0px 2px #000; cursor: pointer; user-select: none">
    <span id="heater_icon">&#x1F4A4;</span>
    <span id="heater_warning" style="display: none; color: red;">&#x26A0;</span>
</a>